In [76]:
# Importing Dependencies
import pandas as pd

In [77]:
# Reading csv file
path = "purchase_data.csv"

#Storing csv file as dataframe
purchase_data = pd.read_csv(path)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [78]:
# Total Number of Players- counting the number of unique player names using unique() and len() function
Total_Player_Count = {'Total Players': [len(purchase_data["SN"].unique())]}
Totalplayers = pd.DataFrame.from_dict(Total_Player_Count)
Totalplayers

   Total Players
0            576

In [79]:
# Purchase Analysis (Total)
# Number of Unique items
unique_items_count = len(purchase_data["Item ID"].unique())
# print(unique_items)

# Average Purchase Price, rounding off to two decimal places
average_price = round(purchase_data["Price"].mean(),2)
# print(average_price)

# Total Number of Purchases
total_purchases = purchase_data["Purchase ID"].count()
# print(total_purchases)

# Total Revenue
total_revenue = purchase_data["Price"].sum()
# print(total_revenue)

#Creating Summary Dataframe to hold results, with formatting
Purchase_Analysis = {"Total Number of Unique Items": [unique_items_count],
                    "Average Purchase Price": ["$"+ str(average_price)],
                    "Total Number of Purchases": [total_purchases],
                    "Total Revenue": ["$"+ str(total_revenue)]}
Summary_Purchase_Analysis = pd.DataFrame(Purchase_Analysis)
Summary_Purchase_Analysis

,Total Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,$3.05,780,$2379.77

In [89]:
# Gender Demographics
# Creating dataframe with all the relevant gender data
gender_data = purchase_data[["SN","Gender","Age"]]
# gender_data.head()

# Dropping duplicate values from the gender data
unique_gender_data = gender_data.drop_duplicates()

# Count of players gender-wise
unique_gender_data_count = unique_gender_data["Gender"].value_counts()
# unique_gender_data_count

# Percentage of players gender-wise
unique_gender_data_percentage = round(((unique_gender_data["Gender"].value_counts() / unique_gender_data["Gender"].count().sum()) * 100),2)
# unique_gender_data_percentage

# Creating and displaying summary dataframe
summary_gender_data = {f"Total Count": unique_gender_data_count,
                       "Percentage of Players": unique_gender_data_percentage.astype(str) + "%"}
summary_gender_data_df = pd.DataFrame(summary_gender_data)
summary_gender_data_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [87]:
# Purchasing Analysis (Gender)
# Basic calculations to obtain purchase count, avg. purchase price, total purchase, avg. purchase total per person etc. by gender
purchase_data_by_gender = purchase_data.groupby(["Gender"])

purchase_count = purchase_data_by_gender["Purchase ID"].count()
# purchase_count

# calculating gender-wise average purchase per total purchases
avg_purchase_price = round(purchase_data_by_gender["Price"].mean(),2)
# avg_purchase_price

total_purchase_value = round(purchase_data_by_gender["Price"].sum(),2)
# total_purchase_value

# calculating gender-wise average purchase total by dividing total purchase value with unique person count by gender 
avg_purchasetotal_per_person = round((total_purchase_value / unique_gender_data_count),2)
# avg_purchasetotal_per_person

# Create a summary data frame to hold the results
purchase_analysis_bygender = {"Purchase Count": purchase_count,
                             "Avg Purchase Price": "$" + avg_purchase_price.astype(str),
                             "Total Purchase Value": "$" + total_purchase_value.astype(str),
                             "Avg Purchase Total per Person": "$" + avg_purchasetotal_per_person.astype(str)}
summary_purchase_analysis_bygender = pd.DataFrame(purchase_analysis_bygender)
summary_purchase_analysis_bygender

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg Purchase Total per Person
Gender,,,,
Female,113,$3.2,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [128]:
# Age Demographics
# Established bins for ages
bins = [0,9.99,14.99,19.99,24.99,29.99,34.99,39.99,100]
bin_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

# Categorize the main data using the age bins
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],bins,labels=bin_names)
# purchase_data

#Creating separate dataframe to categorize unique number of players
age_data = purchase_data[["SN","Gender","Age","Age Group"]]
age_data = age_data.drop_duplicates()
age_data_bins = age_data.groupby(["Age Group"])

# Calculated the numbers and percentages by age group
age_bin_count = age_data_bins["Age"].count()
# age_bin_count
age_bin_percentage = round(((age_data_bins["Age"].count()/age_data["Age"].count()) * 100),2)
# age_bin_percentage

# Created and displayed a summary data frame to hold the results
age_demographics = {"Total Count": age_bin_count,
                   "Percentage of Players": age_bin_percentage.astype(str) + "%"}
# age_demographics
age_demographics_df = pd.DataFrame(age_demographics)
age_demographics_df

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

In [134]:
# Purchasing Analysis (Age)

#Creating a copy of main purchase_data for age based analysis
purchase_data_age = purchase_data.copy()

# Grouping this new data by age gorups
purchase_data_age = purchase_data_age.groupby("Age Group")

# calculating age-wise purchase count
purchase_count_age = purchase_data_age["Purchase ID"].count()

# calculating age-wise average purchase per total purchases
avg_purchase_price_age = round(purchase_data_age["Price"].mean(),2)
# avg_purchase_price_age

total_purchase_value_age = round(purchase_data_age["Price"].sum(),2)
# total_purchase_value_age

# calculating age-wise average purchase total per person 
avg_purchasetotal_per_person_age = round((total_purchase_value_age / age_bin_count),2)
# avg_purchasetotal_per_person_age

# Create a summary data frame to hold the results
purchase_analysis_byage = {"Purchase Count": purchase_count_age,
                             "Avg Purchase Price": "$" + avg_purchase_price_age.astype(str),
                             "Total Purchase Value": "$" + total_purchase_value_age.astype(str),
                             "Avg Purchase Total per Person": "$" + avg_purchasetotal_per_person_age.astype(str)}
summary_purchase_analysis_byage = pd.DataFrame(purchase_analysis_byage)
summary_purchase_analysis_byage

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg Purchase Total per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.9,$293.0,$3.81
30-34,73,$2.93,$214.0,$4.12
35-39,41,$3.6,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19